<!DOCTYPE html>
<html{{ htmlAttributes }}>
  <head>
    <head-placeholder token="{{ placeholderToken }}">
    <title>{{ htmlTitle }}</title>
    <css-placeholder token="{{ placeholderToken }}">
    <js-placeholder token="{{ placeholderToken }}">
  </head>
  <body>
    {{ top }}
    {{ page }}
    {{ bottom }}
    <js-bottom-placeholder token="{{ placeholderToken }}">
  </body>
</html>


